<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <card>





      <form class="form-inline">
        <label for="example1" class="form-label">Date Terminated/Layoff: </label>&nbsp;
        <input type="text" class="form-control" id="example1">

      </form>
      <br>
      <form class="form-inline">
        <label for="example2" class="form-label">Terminated Reason: </label>&nbsp;
        <input type="email" class="form-control" id="example2">
      </form>
      <br>
      <form class="form-inline">
        <label class="form-label">Provide New Employer Name and Address if Available : </label>
        <textarea class="form-control" style="margin: 0px; width: 869px; height: 120px;" placeholder=""></textarea>
      </form>


      <br>
      <span>(Name, Title and Telephone Number of individual completing this form)</span>
      <br>
      <form class="form-group" style="float:right">
        <button type="submit" class="btn btn-primary btn-xl">Submit</button>
      </form>
    </card>
  </div>

</div>