<div class='container'>
    <div class="row">
        <!-- <div class="col-sm-2 form-group">

            <label for="dateOfBirth">From Date:</label>
        </div>
        <div class="col-sm-2 form-group">
            <input type="text" id="fromdate" placeholder="From Date" class="form-control" bsDatepicker [(ngModel)]="bsFromValue"
                [maxDate]="minDate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" (ngModelChange)="onFromDateChange($event)">
        </div>

        <div class="col-sm-2 form-group">
            <label for="dateOfBirth">To Date:</label>

        </div>
        <div class="col-sm-2 form-group">
            <input type="text" id="todate" placeholder="To Date" class="form-control" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY'}"
                [maxDate]="minDate" [minDate]="maxDate" bsDatepicker (ngModelChange)="onToDateChange($event)"
                [(ngModel)]='bsToValue'>
        </div> -->
        <div class="col-sm-2 form-group">

            <label for="dateOfBirth">Select Date Range : </label>
        </div>
        <div class="col-xs-12  col-md-4 form-group">

            <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue" class="form-control date-range-input"
                type="text" (ngModelChange)="onInputChanged( $event )" (onShown)="onDatepickerShown()"
                [maxDate]="dateRangeToDate">
        </div>


    </div>
</div>
