<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <card>

      <div>

        <b>NOTIFICATION OF EMPLOYMENT TERMINATION OR INCOME STATUS :</b>

        <span>
          If this employee/obligor never worked for you <br> or you are no longer withholding income for this
          employee/obligor, an employer must promptly notify the CSE agency and/or <br> the sender by returning ths
          form to
          the address listed in the Contact information below:

        </span>
      </div>
      <br>
      <div class="form-group">

        <input class="checkbox" type="checkbox" id="default-checkbox1">
        <label class="check-label" for="default-checkbox1">This person has never worked for this address not received
          periodic income.</label>

      </div>
      <div class="form-group">

        <input class="checkbox" type="checkbox" id="default-checkbox2">
        <label class="check-label" for="default-checkbox2">This person no longer works for this employer not receives
          periodic income.
        </label>

      </div>

      <span>Please provide the following information for the employee/obligor:</span>
      <br><br>
      <form class="form-inline">
        <label for="example1" class="form-label">Termination Date: </label>&nbsp;
        <input type="text" class="form-control" id="example1">
        &nbsp;
        <label for="example2" class="form-label">Last Known Phone number: </label>&nbsp;
        <input type="email" class="form-control" id="example2">
      </form>
      <br>
      <form class="form-inline">
        <label class="form-label">Last known address : </label>
        <textarea class="form-control" style="margin: 0px; width: 869px; height: 120px;" placeholder=""></textarea>
      </form>
      <br>
      <form class="form-inline">
        <label for="example1" class="form-label">Final Payment date to SDU/ Tribal Payee: </label>&nbsp;
        <input type="text" class="form-control" id="example1">
        &nbsp;
        <label for="example2" class="form-label">Final payment amount: </label>&nbsp;
        <input type="email" class="form-control" id="example2">
      </form>
      <br>
      <form class="form-inline">
        <label for="example1" class="form-label">New employer's name: </label>&nbsp;
        <input type="text" class="form-control" id="example1">

      </form>
      <br>
      <form class="form-inline">
        <label for="example1" class="form-label">New employer's address: </label>&nbsp;
        <textarea class="form-control" style="margin: 0px; width: 869px; height: 120px;" placeholder=""></textarea>
      </form>
      <br>
      <form class="form-group" style="float:right">
        <button type="submit" class="btn btn-primary btn-xl">Submit</button>
      </form>

    </card>
  </div>

</div>
