// @import ".src/app/shared/layouts/pages-top/pages-top.component";
@import "../../shared/theme/conf";


.my-pagination /deep/ .ngx-pagination {
  border: 1px solid $border-color;
  border-radius: 5px;
  overflow: hidden;
  font-size: $sm-text;
  padding: 0;

  a,
  .current {
    min-width: 30px;
    text-decoration: none;
    height: 35px;
    text-align: center;
    line-height: 33px;
    margin: 0;
    color: $fonts-color;

    &:last-child {
      border: none;
    }
  }

  a:hover,
  .current {
    min-width: 30px;
    @extend .bg-primary;
    color: $white;
  }

  .disabled {
    color: rgba($fonts-color, .4);
    cursor: not-allowed;
  }
}

.search-group {
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translate(0, -50%);
  width: 340px;
  background: #465294;
  border: 1px solid #465294;
  border-radius: 2px;
  overflow: hidden;

  .search-input {
    width: 300px;
    height: 40px;
    outline: none;
    color: #465294;
    font-size: $lg-text;
    text-indent: 0.5em;
  }

  .search-btn {
    position: relative;
    top: -1px;
    right: 1px;
    width: 30px;
    height: 30px;
    background: $primary;
    border: 0;
    border-radius: 50%;
    outline: none;
    line-height: 30px;
    text-align: center;
    color: $body-bg;
    transform: scale(0);
    transition: all .4s;


    &:hover {
      background: lighten($primary, 10%);
      transform: scale(1);
    }
  }

  .search-input:focus+.search-btn {
    transform: scale(1);
  }
}


@media (max-width:414px) {
  .avatar-wrap {
    width: auto;

    .avatar {
      border-radius: 50px;
    }

    .user-info-wrap {
      display: none;
    }
  }

  .collapse-menu {
    left: 100px;
  }

  .search-group {
    display: none;
  }
}


#memberTextBox {
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
}

.mt-0 {
  margin-top: 20px !important;
}

// input[type="text"] {
//   background-color: white !important;
//   border-color: #465294 !important;
//   border: 0.25px solid #465294 !important;
// }

// .searchcursor {
//   cursor: pointer;
//   color: #465294;
//   font-size: 0.9em;
// }

.input-group-addon {
  border-color: #465294;
  background-color: white;
}

.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}


.no-border {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
