<div class="container">
  <app-navbar title="Add New UI Task"></app-navbar>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 (click)="refresh()" class="card-title">Add New UI Task</h4>

          <div class="table-responsive">
            <div class="container mat-elevation-z8">
              <div class="form">
                <mat-form-field floatPlaceholder="never" color="accent">
                  <input matInput #filter placeholder="Filter Ticket" autocomplete="off">
                </mat-form-field>
                <div style="float: right;">
                  Refresh
                  <button mat-icon-button (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </div>
              </div>

              <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                <ng-container matColumnDef="ticketno">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Ticket No</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.ticketno}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="ticketdesc">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Description</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.ticketdesc}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="tickettype">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Type</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tickettype}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="assignee">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Assigned</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.assignee}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="cdstatus">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{getStatus(row.cdstatus)}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="dtassigned">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Date Assigned</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.dtassigned}}</mat-cell>
                </ng-container>


                <ng-container matColumnDef="dtrecived">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Date Received</mat-header-cell>

                  <mat-cell *matCellDef="let row"> {{row.dtrecived}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="spenthrs">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Hrs Spent</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.spenthrs}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="userid">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>API Developer</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.userid}}</mat-cell>
                </ng-container>

                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="primary" (click)="addNew()">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button>
                  </mat-header-cell>

                  <mat-cell *matCellDef="let row; let i=index;">
                    <button mat-icon-button color="accent" (click)="startEdit(i, row.ticketno, row.ticketdesc, row.tickettype, row.assignee, row.cdstatus, row.dtassigned, row.dtrecived, row.spenthrs)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" (click)="deleteItem(i, row.ticketno, row.ticketdesc)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                No results
              </div>

              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
