<div class="components-container-gt-xs">
  <div fxLayout="column" fxLayoutGap="20px" fxFlex=97 class="container">
    <div fxFlex="49" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
      <div fxFlex="49" fxFlex.lt-sm="100" [ngStyle]="{'height':'350px'}">
        <trend-graph-collections></trend-graph-collections>

      </div>
      <div fxFlex="49" fxFlex.lt-sm="100" [ngStyle]="{'height':'350px'}">
        <trend-overall-graph></trend-overall-graph>
      </div>
    </div>
    <div fxLayout="row" fxLayout="row wrap">
      <img src="assets/countywide.JPG">
    </div>
    <div fxFlex="49" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
      <div fxFlex="49" fxFlex.lt-sm="100" [ngStyle]="{'height':'350px'}">

      </div>
      <div fxFlex="49" fxFlex.lt-sm="100" [ngStyle]="{'height':'350px'}">

      </div>
    </div>
  </div>
</div>
