<!-- <div class='container dateheadercontainer'>
    <div class="row">
        <div class="col-sm-2 form-group">
            <label for="dateOfBirth">From Date:</label>
        </div>
        <div class="col-sm-2 form-group">
            <input type="text" id="fromdate" placeholder="From Date" class="form-control" bsDatepicker [(ngModel)]="bsFromValue"
                [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" (ngModelChange)="onFromDateChange($event)">
        </div>

        <div class="col-sm-2 form-group">
            <label for="dateOfBirth">To Date:</label>

        </div>
        <div class="col-sm-2 form-group">
            <input type="text" id="todate" [bsValue]="bsToValue" placeholder="To Date" class="form-control" 
            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY'}" bsDatepicker (ngModelChange)="onToDateChange($event)"
            [(ngModel)]='bsToValue'>
        </div>
    </div>
</div> -->
